@media screen and (max-width: 991px) {
	.site-header {
		padding: 15px 0;
	}
	.site-nav {
	    position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    width: 300px;
	    background: #000;
		background: var(--primary-gradient);
	    transition: 0.4s cubic-bezier(0, 0, 0.13, 0.61);
	    transform: translateX(100%);
	}

	.site-nav ul {
		display: flex;
		flex-direction: column;
		align-items: start;
		padding: 80px 20px 0;
		gap: 15px;
	}
	.site-nav li a {
		color: #fff;
	}

	.menu-toggle{
		display: block;
	}

	.closed-menu {
	    font-size: 40px;
	    color: #fff;
	    position: absolute;
	    top: -5px;
	    right: 15px;
	    display: inline-block;
	}

	.toggle .site-nav {
    	transform: translateX(0);
	}
	.header-desktop-btn {
		display: none;
	}
	li.header-mobile-btn {
		display: block;
	}
	.site-banner {
		padding-top: 80px;
	}
	.banner-content .grid {
		grid-template-columns: 100%;
		gap: 60px;
	}
	.banner-content {
		height: auto;
	}
	.banner-bg-img img {
		object-fit: cover;
	}
	.banner-content .item:last-child {
		grid-area: 1;
	}
	.banner-content-img {
		justify-content: center;
		max-width: 400px;
		margin: 0 auto;
	}
	.widget {
		padding: 40px 0;
	}
	.coaching-banner-bg img {
		object-fit: cover;
	}
	.swiper-button-prev, .swiper-button-next {
		width: 54px;
		height: 54px;
	}
	.youtube-videos {
		padding: 0;
	}
}

@media screen and (max-width: 768px) {

	.meditations-header {
        flex-direction: row-reverse;
    }

	.coaching-details {
        padding: 56px 0 32px;
    }

    .coaching-benefit-item {
        padding: 10px 16px;
    }

    .coaching-benefit-text,
    .coaching-pricing-line,
    .coaching-pricing-or {
        font-size: 16px;
    }

	.swiper-button-group {
        position: static;
        justify-content: center;
        padding: 0;
        margin-top: 12px;
    }
	.img-with-text .grid {
		grid-template-columns: 100%;
	}
	.img-with-text-img {
		max-width: 400px;
		margin: 0 auto;
	}
	.service-card {
		max-width: 300px;
		margin: 0 auto;
	}
	.coaching-banner {
		height: auto;
		padding: 80px 0;
	}
	.swiper-button-prev, .swiper-button-next {
		width: 44px;
		height: 44px;
		padding: 14px;
	}
}

@media screen and (max-width: 575px) {
	.btn-details a {
		width: 100%;
	}
	.footer-social-item {
		align-items: center;
		width: 100%;
		max-width: 250px;
	}
	.service-card-hover p {
		font-size: 14px;
	}
	.service-card-content h3 {
		font-size: 20px;
	}
}

@media screen and (max-width: 480px) {
	.site-logo {
		max-width: 140px;
	}
	.footer-form-row {
		grid-template-columns: 100%;
	}
}